include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include wasper_inventory *.css
recursive-include wasper_inventory *.csv
recursive-include wasper_inventory *.html
recursive-include wasper_inventory *.ico
recursive-include wasper_inventory *.js
recursive-include wasper_inventory *.json
recursive-include wasper_inventory *.md
recursive-include wasper_inventory *.png
recursive-include wasper_inventory *.py
recursive-include wasper_inventory *.svg
recursive-include wasper_inventory *.txt
recursive-exclude wasper_inventory *.pyc
